[Service]
ExecStart=python %Y/redirect.py --ssl
User=student
WorkingDirectory=%Y
Environment=DBUS_SESSION_BUS_ADDRESS='unix:path=/run/user/1000/bus'

[Install]
WantedBy=graphical.target
